* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Proxima nova", sans-serif;
}

body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #fc907e, #e77ee0);
    border-radius: 10px;
}

a {
    /* list-style: none; */
    text-decoration: none;
    /* color: #ffff; */
}

li {
    list-style: none;
}

::selection{
    background: plum;
    color: white;
    border-radius: 5px;
}

::-webkit-selection{
    background: plum;
    color: white;
    border-radius: 5px;
}

h1::selection{
    color: whitesmoke;
    background-color: plum;
    /* background: linear-gradient(to bottom right, #fc907e, #e77ee0); */
}
h2::selection{
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: plum;
    /* background: linear-gradient(to bottom right, #fc907e, #e77ee0); */
}

.flex {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
}

.container {
    max-width: 1280px;
    margin-inline: auto;
    overflow: hidden;
}

.comp-logo img {
    width: 70px;
    /* width: 5%; */
}

.main-nav {
    justify-content: space-between;
}

.six_secs ul {
    gap: 20px;
}

.login_sec ul {
    gap: 20px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-link-items {
    transition: all 0.5s ease;
}

.nav-link-items:hover {
    transform: scale(1.05);
}

.nav-link-items a {
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.5s ease;
}

.nav-link-items a:hover {
    color: #fc907e;
}

/* .hover:hover{
    color: #fc907e;
    transform: scale(1.1);
} */
.login_sec {
    background-color: #0000;
    /* Add your desired background color here */
    padding: 10px;
    /* Optional: Add some padding */
    /* line-height: 50px; */
}

.gradient-text {
    /* font-size: 16px; */
    /* line-height: 600px; */
    letter-spacing: normal;
    background: linear-gradient(to bottom right, #fc907e, #e77ee0);
    /* Define your gradient */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-link {
    height: 50px;
    border: 1px solid #fc907e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.login-link:hover {
    color: white;
    transform: scale(1.1);
}

.talk-to-us {
    height: 50px;
    background: linear-gradient(to bottom right, #fc907e, #e77ee0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    /* Optional: Add some padding */
    color: white;
    /* Text color */
    border-radius: 30px;
    /* Optional: Add border-radius for rounded corners */
    transition: all 0.5s ease;
}

.talk-to-us:hover {
    background: linear-gradient(to right, #e77ee0, #fc907e);
    color: black;
    transform: scale(1.1);
}

/* Section 1  */
.section-1 {
    /* height:auto; */
    height: 100vh;
    /* margin-top: 70px; */
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    background-image: url(./Assets/blackbg.svg);
    background-size: cover;
}

.sec-1-left h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: white !important;
}

.sec-1-left p {
    /* font-size: 3rem;; */
    margin-bottom: 50px;
    color: white !important;
    max-width: calc(100% - 100px);
    line-height: 2;
}

#sec-1-right {
    width: 110%;
    overflow: hidden;
}

#sec-1-right img {
    width: 550px;
    padding-left: 20px;
    border-radius: 30px;
    object-fit: cover;
    transition: all 1s ease;
    /* overflow: hidden; */
}

#sec-1-right:hover img {
    scale: 1.1;
}

/* .sec-1-left{
    overflow: hidden;
} */

.header-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 20px 30px;
    background: linear-gradient(to right, #e77ee0, #fc907e);
    color: white;
    border-radius: 30px;
    transition: all 0.5s ease;
    /* overflow: hidden; */
}

.header-anchor:hover {
    background: linear-gradient(to right, #fc907e, #e77ee0);
    color: black;
    transform: scale(1.05);
}

.crest-bg{
    background-image: url(https://images.pexels.com/photos/1121123/pexels-photo-1121123.jpeg);
    background-position: center;
    -webkit-backface-visibility: text;
    background-clip: text;
    color: transparent;

}

/* Section 2 */
.problems-solved {
    margin-top: 50px;
    height: 60vh;
}

.sec-2-heading {
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-align: center;
}

.problem-item {
    background-color: #f1e9fc;
    padding: 40px;
    margin: 20px;
    border-radius: 15px;
}

.problem-list-heading {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.problem-item img {
    width: 70px;
}

.problem-item p {
    color: #555;
}


/* Section 3 */
.sec-3-heading {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-align: center;
}

/* .metric-item{
    background-color: #f1e9fc;
    padding: 40px;
    margin: 20px;
    border-radius: 15px;
    width: 100px;
} */
.metric-item {
    width: 30%;
    height: 300px;
    background-color: #f1e9fc;
    padding: 40px;
    margin: 20px;
    border-radius: 15px;
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
    /* text-align: center; */
}

.metric-item img {
    width: 70px;
    margin-bottom: 20px;
}

.metric-item h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.metric-item p {
    color: #555;
}

.metric-img-3 {
    width: 90px !important;
}

.mertic-img-4 {
    width: 90px !important;
}


/* Section 4 */
.sec-4-heading {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-align: center;
}

.review-item {
    background-color: #f1e9fc;
    padding: 40px;
    margin: 20px;
    border-radius: 15px;
    text-align: left;
}

.review-item h4 {
    margin-top: 15px;
    text-align: right;
}

.review-item img {
    width: 50px;
    border-radius: 50%;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}
.cust-img{
    background: linear-gradient(to bottom right,purple, orange, pink);
    /* background-color: purple; */
    padding: 2px;
}

/* Section 5 */
.sec-5-heading {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-align: center;
}

.tab-content {
    background-color: #f1e9fc;
    border-radius: 15px;
    padding: 40px;
    margin: 20px;
    width: 30%;
    height: 250px;
}

.tab-content h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.tab-content p {
    color: #555;
}

/*  FOOTER  */
.footer {
    height: max-content;
    background-color: #151218;
    color: white;
    padding-bottom: 100px;
}

.footer-about {
    margin-top: 100px;
    padding: 130 150px;
    text-align: center;
    line-height: 2;
    /* background: linear-gradient(to bottom right, #e77ee0, #fc907e); */
    background: linear-gradient(90deg, #e77ee0, #fc907e, #e77ee0, #f8a292);
    border-radius: 35px;
    animation: gradientAnimation 10s ease infinite;
    /* background-size: 200% 200%; */
    background-size: 400% 400%;
}
@keyframes gradientAnimation {
    /* 0% {
        background: linear-gradient(to  right, #e77ee0, #fc907e);
    }
    25% {
        background: linear-gradient(to  right, #fc907e, #e77ee0);
    }
    50% {
        background: linear-gradient(to  right, #e77ee0, #fc907e);
    }
    75% {
        background: linear-gradient(to  right, #fc907e, #e77ee0);
    }
    100% {
        background: linear-gradient(to  right, #e77ee0, #fc907e);
    } */
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.footer-about p {
    margin-bottom: 20px;
}

.footer-heading {
    font-size: 55px;
}

.footer-anchor {
    color: white;
    padding: 15px 30px;
    background-color: black;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.footer-anchor:hover {
    color: #fc907e;
    transform: scale(1.1);
}

.footer-desc {
    margin-top: 100px;
    justify-content: space-between;
}

.footer-logo {
    width: 100px;
    margin-right: 30px;
}

.about-comp {
    width: 40%;
}

.comp-desc {
    line-height: 2;
    margin-top: 30px;
    height: 363px;

}

.comp-desc p {
    color: #c5c5c5;
}

.explore {
    height: 363px;
    flex-direction: column;
    gap: 20px;
    /* justify-content: flex-start; */
}

.explore a {
    color: #c5c5c5;
}

.learn {
    height: 363px;
}

.learn p {
    margin-bottom: 20px;
}

.contact-clever {
    height: 363px;
}

.contact-clever p {
    margin-bottom: 20px;
}
.silverbooks-bg{
    background: linear-gradient(to bottom right, #e77ee0, #fc907e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
}